# Environment
ENV=development


# Cohere (Embeddings + Reranker)
COHERE_API_KEY=your_cohere_api_key_here


# Pinecone (Vector Database)
PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_ENVIRONMENT=us-east-1
PINECONE_INDEX_NAME=minirag-index


# Hugging Face (LLaMA Inference)

HF_API_TOKEN=your_huggingface_api_token_here
HF_BASE_URL=https://router.huggingface.co/v1
HF_MODEL_ID=meta-llama/Llama-3.1-8B-Instruct
