#API and servers

fastapi ==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9

#Validation and Configurations

pydantic==2.7.4
pydantic-settings==2.1.0
python-dotenv==1.0.1

#RAG Engine

pinecone-client==2.2.4
cohere==5.1.8


#Utilities

requests==2.31.0
numpy==1.26.4
tqdm==4.66.2

